.headercontainer {
    background-color: #1F2937;
    top: 0;
}

.topheader {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    align-items: center;
    background-color: #4b5768;
}

ul {
    display: flex;
    gap: 15px;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #F9FAF8;
}
.logo {
    height: 60px;
    width: auto;
    border-radius: 50%;
}
a:hover{
    color: rgb(187, 187, 187);
    
}
.cover {
    border-radius: 10px;
    height: 130px;
    width: auto;
}
.bottomheader {
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 1px;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noodles {
    height: auto;
    width: 100px;
    border-radius: 50px;
    border: solid #3882F6 2px;
}

.quote {
    background-color: #E5E7EB;
    padding: 30px;
}
.innerquote {
    display: flex;
    flex-direction: column;
}
.quote1 {
    display: flex;
    justify-content: center;
    font-style: italic;
}
.quote2 {
    font-weight: bold;
    font-style: italic;

}
.emptyaction {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.action {
    background-color: #3882F6;
    border-radius: 10px;
}
h3 {
    padding: 0px 20px;
    color: #E5E7EB;
}
.actionp {
    padding: 0px 100px 0px 20px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-family: 'Courier New', Courier, monospace;
    border: solid #E5E7EB;
    border-width: 1px;
    border-radius: 4px;
}
button:hover {
    background-color: #30528a;
}
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 5px;
    text-align: center;
    bottom: 0;
}
